{% load static %}

<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- HEADER -->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">New Post</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- FORM START -->
            <form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="modal-body">

                    <div class="mb-3">
                        <img src="{% static 'images/upload.png' %}" alt="upload icon" class="m-1">

                        <label class="col-form-label">Photo</label>
                        <input type="file" name="image_upload" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label class="col-form-label">Caption</label>
                        <textarea class="form-control" name="caption" placeholder="Caption..."></textarea>
                    </div>

                </div>

                <!-- FOOTER -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create Post</button>
                </div>

            </form>
            <!-- FORM END -->

        </div>
    </div>
</div>